.meals {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 40px auto;
    background-color: rgba(0, 0, 0, 0.081);
    padding: 40px;
    border-radius: 40px;
}

.meals>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
}

p {
    margin: 0;
}

.mealName {
    opacity: .8;
}

.cal {
    font-size: 18px;
}

.devider{
    width: .5px;
    height: 50px;
    background-color: black;
}