
.title{
    margin: 0;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
}

.age,
.weight,
.height {
    position: relative;
}

.age::after,
.weight::after,
.height::after {
    content: "";
    height: .5px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.506);
    position: absolute;
    bottom: -80%;
}

.titleContainer{
    border-bottom: 1px solid rgba(0, 0, 0, 0.308);
    padding: 0 10px 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.info>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.editSvg {
    width: 15px;
}

.submitBtn{
    background-color: green;
    color:  white;
    padding: 8px 10px;
    border-radius: 10px;
}

.input {
    background: transparent;
    border: none;
    width: 60px;
    border-bottom: 1px solid black;
    padding: 3px 0 3px 20px;
    transition: 200ms;
}

.input:focus-visible {
    border-bottom: 2px solid #246CD0;
    outline: none;
    transform: scale(1.05);
    transition: 200ms;
}

.selector{
    border: none;
    padding: 5px 10px;
    box-shadow: inset 1px 1px 5px rgb(214, 214, 214);
    border-radius: 10px;
}