.header {
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 129, 55 , 70%);
    border-radius: 10px;
}

.close {
    width: 20px;
    fill: rgb(202, 74, 0);
}


.title {
    font-size: 20px;
    padding-left: 25px;
}

.space {
    width: 34px;
}