.diagram path {
    fill: none;
}

.diagramContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 40px 0;
}



.proteinPath {
    stroke: #FF8137;
    stroke-width: 3.4;
    stroke-dasharray: 30 100;
}


.carbsPath {
    stroke: #246CD0;
    stroke-width: 2.9;
    stroke-dasharray: 50 100;
}

.fatPath {
    stroke: #000000;
    stroke-width: 2.5;
    stroke-dasharray: 60 100;
}

.othersPath{
    stroke: rgb(36, 108, 208 , 29%);
    stroke-width: 2.1;
    stroke-dasharray: 80 100;
}

.baseline {
    stroke-width: 2px;
    stroke: rgba(0, 0, 0, 0.098);
}

.diagram{
    width: 250px;
}

.calories{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 6px;
    position: absolute;
}

.left{
    font-size: 18px;
}

.caloryNum{
    font-size: 30px;
    font-weight: 900;
}


.nutritionGuide{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}

.nutrition{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grams{
    font-size: 20px;
    font-weight: 700;
    margin: 5px;
}

.unit{
    font-size: 12px;
    margin: 0;
}



.protein , .carbs , .fat , .others{
    width: 25px;
    aspect-ratio: 1/1;
    border-radius: 6px;
}

.protein{
    background-color: #FF8137;
}

.carbs{
    background-color: #246CD0;
}

.fat{
    background-color: black;
}

.others{
    background-color: rgb(36, 108, 208 , 29%);
}