.email,
.password {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.angleSvg,
.editSvg {
    width: 14px;
    fill: rgba(128, 128, 128, 0.788);
}

.title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.308);
    padding-left: 10px;
    padding-bottom: 6px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
}

.password{
    position: relative;
}

.password::before {
    content: "";
    height: .5px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.506);
    position: absolute;
    bottom: 150%;
}

.submitBtn{
    background-color: green;
    color:  white;
    padding: 8px 10px;
    border-radius: 10px;
}

.input {
    background: transparent;
    border: none;
    width: 150%;
    border-bottom: 1px solid black;
    padding: 5px 0;
    font-size: 16px;
    transition: 200ms;
}

.input:focus-visible {
    border-bottom: 2px solid #246CD0;
    outline: none;
    transition: 200ms;
}