.toolbar {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    padding: 20px 30px;
    background-color: white;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 -1px 1rem rgb(212, 212, 212);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}


.toolbar svg {
    width: 25px;
    fill: #BFBFBF;
}


.trash {
    padding: 3px;
}

.addBtn {
    background-color: #FF8137;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 15px;
}


.addBtnBg {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: calc(50% - 34.5px);
    bottom: 45%;
    background-color: #F6F8FB;
    padding: 15px 15px;
    border-radius: 30px;
    box-shadow: inset 0px -2px 2px rgb(212, 212, 212);
}

.addBtn svg {
    fill: white;
}