.toolbar {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    padding: 20px 30px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 -1px 1rem rgb(212, 212, 212);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}


.toolbar svg {
    width: 25px;
    fill: #BFBFBF;
}


.trash{
    padding: 3px;
}