

.meals{
    position: absolute;
    bottom: 160%;
    left: calc(50% - 43px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.meals>div{
    border-radius: 20px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
