

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 1px 1rem rgb(212, 212, 212);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.image{
    width: 60px;
    aspect-ratio: 1/1;
    background-image: url('/user.jpg');
    background-size: cover;
    border-radius: 18px;
}

.day{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.date{
    display: flex;
    align-items: center;
    gap: 25px;
}

.today{
    font-weight: 700;
    font-size: 20px;
    margin: 0;
}

.month{
    margin: 2px;
    font-size: 14px;
}

.previous , .next{
    width: 30px;
    border-radius: 10px;
    aspect-ratio: 1/1;
    background-color: rgb(36, 108, 208 , 29%);
    display: flex;
    align-items: center;
    justify-content: center;
}


.arrowLeft{
    rotate: 180deg;
}

.arrowRight , .arrowLeft{
    width: 8px;
}


.bar img{
    width: 35px;
}