

.userImage{
    width: 30%;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
}

.imageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userImage img{
    width: 100%;
}