.logBox {
    display: flex;
    align-items: center;
    position: relative;
}

.logCounter {
    position: absolute;
    left: -30px;
    background-color: #246CD0;
    color: white;
    font-weight: 700;
    width: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
}